@charset "utf-8";
/* CSS Document */
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box
}

@font-face {
     font-family: 'MYRIADPROREGULAR';
     src: url('./MYRIADPROREGULAR.eot');
     src: local('MYRIADPROREGULAR'), url('./MYRIADPROREGULAR.woff') format('woff'), url('./MYRIADPROREGULAR.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
     margin:0px;
}

p{
     font-family:Arial, Helvetica, sans-serif;
     color:#373737;}

::-moz-selection {
     background: #076db7;
     color: #fff;
     text-shadow: none !important;
}

::selection {
     background: #076db7;
     color: #fff;
     text-shadow: none !important;
}

::-webkit-input-placeholder {
     font-size:18px;
     color: #858585;
     font-family: 'MYRIADPROREGULAR' !important;}
::-moz-placeholder {  
     font-size:18px;
     color: #858585;  
     font-family: 'MYRIADPROREGULAR' !important;
}

body{
     margin: 0 auto;
     background:#ffffff;
     text-decoration:none;
     color:#484848;
     line-height:22px;
     font-family:Arial, Helvetica, sans-serif;
}
.clear{
     clear:both;
}
body a{
     outline:0;
}

/*ABOUT*/
#about-wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     margin-top:120px;
}
#about-inner{
     width:1100px;
     min-height:95px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     position:relative;
}
.aboutbg{
     position:absolute;
     background-color: rgba(0, 0, 0, 0.6);
     top:80px;
     left:0px;
     width:100%;
     min-height:85%;
	 border-bottom:10px solid rgba(255, 255, 255, .1);
}
#about-inner h1 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 30px;
     font-weight: bold;
     line-height: 23px;
     margin-top:70px;
     margin-bottom: 35px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
#about-inner h2 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 20px;
     font-weight: bold;
     line-height: 23px;
     margin-top:70px;
     margin-bottom: 35px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
#about-inner p{
     font-size:20px;
     color:#FFF;
     text-align:left;
     line-height:30px;
     margin-bottom:10px;
     text-shadow: 1px 1px 1px #000000;
     font-family: 'Oxygen', sans-serif;
}

#about-inner li {
     float: left;
     font-size:20px;
     color:#FFF;
     text-align:left;
     line-height:20px;
     margin-bottom:10px;
     text-shadow: 1px 1px 1px #000000;
     font-family: 'Oxygen', sans-serif;
     width: 100%;
}

/*CONTACT*/
.pagination{
     display: inline-block;
    /* width: 14px; */
    /* height: 20px; */
    /* background: gray; */
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

#contact-wrapper{
     float:left;
     width:100%;
     min-height:200px;
     height:auto !important;
     padding:0px;
     margin:0px;
}
#contact-inner{
     width:1300px;
     height:auto;
     padding:30px 0px; 
     margin:0px auto;
}
.conatct-text{
     width:30%;
     float:left;
     margin-right:5%;
}
#contact-inner h1 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 22px;
     font-weight: 600;
     line-height: 23px;
     margin-bottom: 25px;
     text-align: left;
     width: 100%;
     text-shadow: 1px 1px 2px #000000;
}
#contact-inner p{
     font-family: 'Ubuntu', sans-serif;
     font-weight:lighter;
     float:left;
     width:100%;
     margin-bottom:30px;
     color:#FFF;
     font-size:20px;
     line-height:30px;
     text-shadow: 1px 1px 2px #000000;
}
#contact-inner h2 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size:30px;
     font-weight: 600;
     line-height: 23px;
     margin-bottom: 55px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 2px #000000;
}
.conatct-form{
     width:30%;
     float:right;
}
.field_label{
     width:100%;
     float:left;
     padding:0px;
     margin-bottom:15px;
     font-family:Arial, Helvetica, sans-serif;
     color:#FFFFFF;
     font-size:13px;
}
.conatct-input{
     color: #FFFFFF;
     width:100%;
     height:40px;
     background:#191919;
     border:1px solid #191919;
     font-family: 'Ubuntu', sans-serif;
     font-size:14px;
     margin-top:1px;
     padding-left:5%;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.inputtextarea{
     color: #FFFFFF;
     resize:none;
     margin-bottom:0px;
     padding-top:1px;
     width:100%;
     height:160px;
     background:#191919;
     border:1px solid #191919;
     font-family: 'Ubuntu', sans-serif;
     font-size:14px;
     padding-left:5%;
     padding-top:10px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.form_btn{
     cursor:pointer;
     float:right;
     border:none;
     background:#191919;
     color:#FFF;
     font-family: 'Ubuntu', sans-serif;
     padding:7px 10px;
     font-size:16px;
     font-weight:600;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius:5px;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.form_btn:hover{
     background:#096cb5;
}

/*GALLERY*/
#gallery-wrapper{
     width:100%;
     float:left;
     height:auto;
     padding:0px;
     margin:0px;
     margin-top:120px;
}
#gallery-inner{
     width:1250px;
     min-height:95px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     position:relative;
}
.gallerybg{
     position:absolute;
     background-color: rgba(0, 0, 0, 0.3);
     top:80px;
     left:0px;
     width:100%;
     min-height:85%;
}
#gallery-inner h1 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 30px;
     font-weight: bold;
     line-height: 23px;
     margin-top:70px;
     margin-bottom: 35px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}

.gallery-photobg{
     float:left;
     width:97%;
     min-height:100px;
     margin-top:40px;
}
.gallery-videobg{
     float:left;
     width:97%;
     min-height:100px;
     margin-top:40px;
}
#gallery-inner h2 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 35px;
     font-weight: bold;
     line-height: 23px;
     text-align: left;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
.galleryinner{
     width:100%;
     float:left;
     margin-top:40px;
}
.homenewsbg{
     width:100%;
     height:auto;
     float:left;
     position:relative;
     text-align:center;
     padding-bottom:16px;
}
.homenews_imgbg{
     width:100%;
     height:180px;
     float:left;
     text-decoration:none;
     overflow: hidden;
     position:relative;
     display: flex;
     align-items: center;
     justify-content: center;
     background:#C60;
}
.homenews_imgbg img{
     max-height:180px;
}

#gallery-inner h3 {
     color: #5b5a5a;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 25px;
     font-weight: lighter;
     line-height: 20px;
     text-align: left;
     width: 100%;
     padding-left:10px;
     margin-top:10px;
     letter-spacing:2px;
}



/*CAREER*/
#career-inner{
     width:1100px;
     min-height:95px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     position:relative;
}
.careerbg{
     position:absolute;
     background-color: rgba(0, 0, 0, 0.6);
     top:80px;
     left:0px;
     width:100%;
     min-height:85%;
}
#career-inner h1 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 30px;
     font-weight: 600;
     line-height: 23px;
     margin-top:40px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}

.career-white{
     padding:1.5%;
     width:100%;
     float:left;
     background:#FFF;
     margin-top:30px;
     margin-bottom:30px;
     min-height:200px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
}
#table{
     width:100%;
     float:left;
}
.innercarttittlebg{
     width:100%;
     float:left;
     background:#FFFFFF;
     color:#333;
     border:1px solid #c3c3c3;
     font-family: 'MYRIADPROREGULAR' !important;

}
.table_1{
     font-size:16px;
     width:18%;
     padding:15px 1%;
     float:left;
     border-left:1px solid #c3c3c3;
     text-align:center;
     font-weight:bold;
     word-wrap: break-word;
}
.innercarttittlebg .table_1:nth-child(1){
     border-left:none;
     width:28%;
}
.inner-details-box{
     width:100%;
     float:left;
     border:1px solid #c3c3c3;
     border-top:0px;
     background:#FFF;
     display:table;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease; 
}
.inner-details-box:hover{
     background:#f5f5f5;
}
.detalis-box{
     width:18%;
     padding:15px;
     border-left:1px solid #c0c0c0;
     color:#626263;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size:15px;
     padding-left:1%;
     text-align:center;
     display:table-cell;
     vertical-align:middle;
     word-wrap: break-word;
}
.inner-details-box .detalis-box:nth-child(1){
     border-left:none;
     text-align:left;
     width:28%;
}

.detalis-box span{
     color:#000000;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size:14px;
     float:left;
     display:none;
}	
.detalis-box a{
     color:#076dbb;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size:14px;
     text-align:center;
}
.detalis-box a:hover{
     color:#000;
}

/*PRODUCTS*/
#products-inner{
     width:1150px;
     min-height:95px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     position:relative;
}
.productsbg{
     position:absolute;
     background-color: rgba(0, 0, 0, 0.3);
     top:80px;
     left:1%;
     width:98%;
     min-height:85%;
}
#products-inner h1 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 30px;
     font-weight: bold;
     line-height: 23px;
     margin-top:70px;
     margin-bottom: 35px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
#products-inner h2 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 26px;
     font-weight: bold;
     line-height: 23px;
     margin-bottom:5px;
     text-align: left;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
.protext{
     font-family: 'Oxygen', sans-serif;
     width:100%;
     font-size:15px;
     float:left;
     text-shadow: 1px 1px 3px #000000;
     color:#FFF;
     margin-bottom:20px;
}




#collapsible-panels h3 {
     float:left;
     width: 100%;
     margin:0;
     padding: 10px 0;
     background:url(../images/open.png) no-repeat left center;
}
#collapsible-panels h3.active {
     background:url(../images/close.png) no-repeat left center;
}
#collapsible-panels h3 a {
     text-shadow: 1px 1px 1px #000000;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size:20px;
     color:#FFFFFF;
     padding:0px;
     text-decoration:none;
     width:100%;
     padding-left:40px;
     float:left;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
#collapsible-panels h3 a:hover {
     color:#036ab6;
}
#collapsible-panels div {
     font-family: 'Oxygen', sans-serif;
     padding:10px;
/*     padding-right:20px;*/
     font-size:14px;
     line-height:18px;
     font-weight:600;
     width:500px;
     float:left;
     margin-left:40px;
     background:#FFF;
     height:auto;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
}

#collapsible-panels div img {
     float:left;
     border:1px solid #e2e2e2;
/*     width:330px;*/
     max-width:100%;
/*     margin-right:20px;*/
}
#collapsible-panels div span{
     font-family: 'Oxygen', sans-serif;
     margin-top:10px;
     font-size:13px;
     line-height:18px;
     font-style:italic;
     font-weight:lighter;

}

/*SOLUTION*/
#solution-inner{
     width:1200px;
     min-height:95px;
     height:auto;
     padding:0px; 
     margin:0px auto;
     position:relative;
}
.solutionbg{
     position:absolute;
     background-color: rgba(0, 0, 0, 0.4);
     top:80px;
     left:0px;
     width:100%;
     min-height:85%;
}
#solution-inner h1 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 30px;
     font-weight: bold;
     line-height: 23px;
     margin-top:70px;
     margin-bottom: 55px;
     text-align: center;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
ul.solution-details{
     clear: both;
     -moz-column-count: 2;
     -moz-column-gap: 70px;
     -webkit-column-count: 2;
     -webkit-column-gap: 70px;
     column-count: 2;
     column-gap: 70px;
     margin: 20px auto;
     position: relative;
     width: 100%;
     z-index: 9;
}

ul.solution-details li{
     display: inline-block;
     list-style: none;            
     margin-bottom: 40px;
     width: 100%;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}

#solution-inner h2 {
     color: #FFFFFF;
     text-transform:uppercase;
     float: left;
     font-family: 'MYRIADPROREGULAR' !important;
     font-size: 20px;
     font-weight: lighter;
     line-height: 23px;
     text-align: left;
     width: 100%;
     text-shadow: 1px 1px 1px #000000;
}
.solution-list ul{
     width:100%;
     float:left;
     margin-top:30px;
     margin-left:30px;
     word-wrap:break-word;

}
.solution-list ul li{
     padding-left:25px;
     background:url(../images/bullet2.png) no-repeat top left;
     text-transform:uppercase;
     font-size:14px;
     color:#FFF;
     line-height:20px;
     margin-bottom: 10px;
     text-shadow: 1px 1px 1px #000000;
}

/* -------------------------------  Media Query  ------------------------------- */

@media screen and (max-width: 1280px) {
     #contact-inner{
          width:96%;}
     #solution-inner{
          width:96%;}
     #gallery-inner{
          width:98%;}

}
@media screen and (max-width: 1200px) {
     #products-inner{
          width:94%;}

}

@media screen and (max-width: 1150px) {
     #about-inner{
          width:90%;}
     #career-inner{
          width:94%;}


}
@media screen and (max-width: 1070px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1000px) {
     .conatct-text{
          width:32%;margin-right:1%;}
     #contact-inner h1 {
          font-size: 20px;font-weight: 400;line-height: 20px;}
     .conatct-form{
          width:32%;}


}

@media screen and (max-width: 900px) {


}
@media screen and (max-width: 860px) {

}

@media screen and (max-width: 850px) {
     ul.solution-details{
          -moz-column-count: 1;
          -moz-column-gap: 0px;
          -webkit-column-count: 1;
          -webkit-column-gap: 0px;
          column-count: 1;
          column-gap: 0x;
     }

     .galleryinner{
          width:260px;}

     .gallery-photobg{
          padding-left:6%;}
     .gallery-videobg{
          padding-left:6%;}	

}
@media screen and (max-width: 800px) {


}

@media screen and (max-width: 768px) {
     .innercarttittlebg{
          display:none;}	
     .inner-details-box{
          border-top:1px solid #c0c0c0;margin-bottom:10px;}
     .detalis-box{
          width:100%;
          padding:10px;
          border-bottom:1px solid #c0c0c0;
          border-left:0px;
          padding-left:1%;
          display:block;
          float:left;
          text-align:right;}
     .inner-details-box .detalis-box:nth-child(1){
          border-left:none;
          text-align:right;
          width:100%;}
     .inner-details-box .detalis-box:nth-child(2){
          text-align:right;}

     .detalis-box span{
          display:block;
          width:130px;
          text-align:left;
          border-right:1px dotted #999;}	


     .conatct-text{
          width:50%;margin-right:0%;}
     .conatct-form{
          width:80%; float:left; margin-left:10%; margin-top:20px;}

}

@media screen and (max-width: 700px) {

     .gallery-photobg{
          padding-left:2%; width:98%;}
     .gallery-videobg{
          padding-left:2%;width:98%; float:left;}
     .galleryinner{
          width:100%;}

}
@media screen and (max-width: 660px) {



}

@media screen and (max-width: 640px) {



}

@media screen and (max-width: 603px) {
     #collapsible-panels div {
          width:90%;}

}

@media screen and (max-width: 568px) {


}
@media screen and (max-width: 500px) {

     #about-inner p{
          font-size:16px;line-height:28px;}	

     .conatct-text{
          width:90%;margin-right:0%; margin-left:5%;}
     .conatct-form{
          width:90%; float:left; margin-left:5%; margin-top:20px;}	
}


@media screen and (max-width: 460px) {
     #collapsible-panels div {
          width:85%;}
     #collapsible-panels div img {
          width:90%;max-width:100%;margin-right:5%;margin-left:5%; margin-bottom:15px;}	


}

@media screen and (max-width: 400px) {

}


@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {



}

@media screen and (max-width: 300px) {


}
@media screen and (max-width: 240px) {

}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

//
// 1. Set default font family to sans-serif.
// 2. Prevent iOS and IE text size adjust after device orientation change,
//    without disabling user zoom.
//

html {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

//
// Remove default margin.
//

body {
  margin: 0;
}

// HTML5 display definitions
// ==========================================================================

//
// Correct `block` display not defined for any HTML5 element in IE 8/9.
// Correct `block` display not defined for `details` or `summary` in IE 10/11
// and Firefox.
// Correct `block` display not defined for `main` in IE 11.
//

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//

audio,
canvas,
progress,
video {
  display: inline-block; // 1
  vertical-align: baseline; // 2
}

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//

audio:not([controls]) {
  display: none;
  height: 0;
}

//
// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

[hidden],
template {
  display: none;
}

// Links
// ==========================================================================

//
// Remove the gray background color from active links in IE 10.
//

a {
  background-color: transparent;
}

//
// Improve readability of focused elements when they are also in an
// active/hover state.
//

a:active,
a:hover {
  outline: 0;
}

// Text-level semantics
// ==========================================================================

//
// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
//

abbr[title] {
  border-bottom: 1px dotted;
}

//
// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
//

b,
strong {
  font-weight: bold;
}

//
// Address styling not present in Safari and Chrome.
//

dfn {
  font-style: italic;
}

//
// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
//

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

//
// Address styling not present in IE 8/9.
//

mark {
  background: #ff0;
  color: #000;
}

//
// Address inconsistent and variable font size in all browsers.
//

small {
  font-size: 80%;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Embedded content
// ==========================================================================

//
// Remove border when inside `a` element in IE 8/9/10.
//

img {
  border: 0;
}

//
// Correct overflow not hidden in IE 9/10/11.
//

svg:not(:root) {
  overflow: hidden;
}

// Grouping content
// ==========================================================================

//
// Address margin not present in IE 8/9 and Safari.
//

figure {
  margin: 1em 40px;
}

//
// Address differences between Firefox and other browsers.
//

hr {
  box-sizing: content-box;
  height: 0;
}

//
// Contain overflow in all browsers.
//

pre {
  overflow: auto;
}

//
// Address odd `em`-unit font size rendering in all browsers.
//

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

// Forms
// ==========================================================================

//
// Known limitation: by default, Chrome and Safari on OS X allow very limited
// styling of `select`, unless a `border` property is set.
//

//
// 1. Correct color not being inherited.
//    Known issue: affects color of disabled elements.
// 2. Correct font properties not being inherited.
// 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
//

button,
input,
optgroup,
select,
textarea {
  color: inherit; // 1
  font: inherit; // 2
  margin: 0; // 3
}

//
// Address `overflow` set to `hidden` in IE 8/9/10/11.
//

button {
  overflow: visible;
}

//
// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// Correct `select` style inheritance in Firefox.
//

button,
select {
  text-transform: none;
}

//
// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others.
//

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

//
// Re-set default cursor for disabled elements.
//

button[disabled],
html input[disabled] {
  cursor: default;
}

//
// Remove inner padding and border in Firefox 4+.
//

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

//
// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet.
//

input {
  line-height: normal;
}

//
// It's recommended that you don't attempt to style these elements.
// Firefox's implementation doesn't respect box-sizing, padding, or width.
//
// 1. Address box sizing set to `content-box` in IE 8/9/10.
// 2. Remove excess padding in IE 8/9/10.
//

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}

//
// Fix the cursor style for Chrome's increment/decrement buttons. For certain
// `font-size` values of the `input`, it causes the cursor style of the
// decrement button to change from `default` to `text`.
//

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

//
// 1. Address `appearance` set to `searchfield` in Safari and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
//

input[type="search"] {
  -webkit-appearance: textfield; // 1
  box-sizing: content-box; //2
}

//
// Remove inner padding and search cancel button in Safari and Chrome on OS X.
// Safari (but not Chrome) clips the cancel button when the search input has
// padding (and `textfield` appearance).
//

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// Define consistent border, margin, and padding.
//

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

//
// 1. Correct `color` not being inherited in IE 8/9/10/11.
// 2. Remove padding so people aren't caught out if they zero out fieldsets.
//

legend {
  border: 0; // 1
  padding: 0; // 2
}

//
// Remove default vertical scrollbar in IE 8/9/10/11.
//

textarea {
  overflow: auto;
}

//
// Don't inherit the `font-weight` (applied by a rule above).
// NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
//

optgroup {
  font-weight: bold;
}

// Tables
// ==========================================================================

//
// Remove most spacing between table cells.
//

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
